<?xml version="1.0" encoding="UTF-8"?>


<web-app>

    <!-- Servlets -->
    <servlet>
        <servlet-name>EventService</servlet-name>
        <servlet-class>de.novanic.eventservice.service.EventServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EventService</servlet-name>
        <url-pattern>/bomberman/gwteventservice</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LobbyServlet</servlet-name>
        <servlet-class>no.eirikb.bomberman.server.LobbyServer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LobbyServlet</servlet-name>
        <url-pattern>/bomberman/lobbyservice</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GameServlet</servlet-name>
        <servlet-class>no.eirikb.bomberman.server.GameServer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GameServlet</servlet-name>
        <url-pattern>/bomberman/gameservice</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>Bomberman.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>remoteLoggingServiceImpl</servlet-name>
        <servlet-class>com.google.gwt.libideas.logging.server.RemoteLoggingServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>remoteLoggingServiceImpl</servlet-name>
        <url-pattern>/bomberman/logging</url-pattern>
    </servlet-mapping>
</web-app>
