<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <!-- Servlets -->
    <servlet>
        <servlet-name>EventService</servlet-name>
        <servlet-class>de.novanic.eventservice.service.EventServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EventService</servlet-name>
        <url-pattern>/bomberman/gwteventservice</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LobbyServlet</servlet-name>
        <servlet-class>no.eirikb.bomberman.server.LobbyServer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LobbyServlet</servlet-name>
        <url-pattern>/bomberman/lobbyservice</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GameServlet</servlet-name>
        <servlet-class>no.eirikb.bomberman.server.GameServer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GameServlet</servlet-name>
        <url-pattern>/bomberman/gameservice</url-pattern>
    </servlet-mapping>

</web-app>
